span.css-10trblm.el6nr0p33
{
    background-color: rgb(226, 89, 43);
    color: rgb(255, 224, 251);
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div.css-177yq5e.e16nr0p30>hr{
    background-color: rgb(226, 156, 43);
}

/* h1.heading{
         background-color: blueviolet;
         color: lightyellow;
         border-radius: 20px;
         text-align: center;
         } */